
@model Actor
<h2 class="mb-4">Edit Actor</h2>

<form method="post" class="p-4 shadow rounded bg-light" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input asp-for="FirstName" class="form-control" placeholder="Enter first name">
        <span class="text-danger" asp-validation-for="@Model.FirstName"></span>
    </div>

    <div class="mb-3">
        <label for="actorlastName" class="form-label">Last Name</label>
        <input asp-for="LastName" class="form-control" placeholder="Enter last name">
        <span class="text-danger" asp-validation-for="@Model.LastName"></span>
    </div>

     <div class="mb-3">
        <label for="bio" class="form-label">Bio</label>
        <textarea asp-for="Bio" class="form-control"></textarea>
        <span asp-validation-for="@Model.Bio" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label for="ProfilePicture" class="form-label">ProfilePicture</label>
        <input id="ProfilePicture" type="file" name="ProfilePicture" class="form-control" accept="image/*" onchange="previewImage(event)">
    </div>

    <div style="margin-top:10px;">
        <img id="imgPreview" src="~/images/cast/@Model.ProfilePicture" alt="imgPreview"
             style="max-width: 120px; border: 1px solid #ccc; padding: 4px;" />
    </div>

    

    <div class="mb-3">
        <label for="news" class="form-label">News</label>
        <textarea asp-for="News" class="form-control" rows="4" placeholder="Enter News"></textarea>
        <span asp-validation-for="@Model.News" class="text-danger"></span>

    </div>



    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-danger">Edit</button>

    </div>
</form>
<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("imgPreview");

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            }
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.src = "";
            preview.style.display = "none";
        }
    }
</script>
@section Scripts {
    <partial name="_ValidationScriptsPartial">
}


