@model PersonalInformationVM

@section Scripts
{
	<partial name="_NotificationPartial">
	}

<div class="container">
	<div class="row gutters my-3">
		<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
			<div class="card h-100">
				<div class="card-body">
					<div class="account-settings">
						<div class="user-profile">
							<div class="user-avatar">
								<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Maxwell Admin" style="width: 90px">
							</div>
							<h5 class="user-name">@Model.Name</h5>
							<h6 class="user-email">@Model.Email</h6>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
			<form asp-action="UpdateInfo">
				<div class="card h-100">
					<div class="card-body">
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mb-2 text-danger">Personal Details</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="fullName">Full Name</label>
									<input class="form-control" id="fullName" placeholder="Enter full name" asp-for="Name">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="eMail">Email</label>
									<input asp-for="Email" class="form-control" placeholder="Enter email ID">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="phone">Phone</label>
									<input class="form-control" asp-for="PhoneNumber" placeholder="Enter phone number">
								</div>
							</div>
						</div>
						<div class="row gutters">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<h6 class="mt-3 mb-2 text-danger">Address</h6>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="Street">Street</label>
									<input class="form-control" asp-for="Street" placeholder="Enter Street">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="ciTy">City</label>
									<input class="form-control" asp-for="City" placeholder="Enter City">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="sTate">State</label>
									<input class="form-control" asp-for="State" placeholder="Enter State">
								</div>
							</div>
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label for="zIp">Zip Code</label>
									<input class="form-control" asp-for="ZipCode" placeholder="Enter ZipCode">
								</div>
							</div>
						</div>
						<div class="row gutters my-3">
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
								<div class="text-right">
									<button type="reset" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
									<button type="submit" id="submit" name="submit" class="btn btn-danger">Update</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
				<form asp-action="ChangePassword">
					<div class="card h-100">
						<div class="card-body">
							<div class="row gutters">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<h6 class="mb-2 text-danger">Update Password</h6>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label for="CurrentPassword">Current Password</label>
										<input class="form-control" placeholder="Enter Current Password" asp-for="CurrentPassword">
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
									<div class="form-group">
										<label for="New Password">New Password</label>
										<input asp-for="NewPassword" class="form-control" placeholder="Enter New Password">
									</div>
								</div>
							</div>
							<div class="row gutters my-3">
								<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
									<div class="text-right">
										<button type="submit" id="submit" name="submit" class="btn btn-danger">Update Password</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
		</div>
	</div>
</div>

